<h1>Friends</h1>
<style>
  .text-center {
    align-content: center;
    text-align:center
    /* transform: translate(-50, 50%); */
  }
</style>

<% if @friends.any? %>
<% if user_signed_in? %>
  <!-- Display the table with headers -->


  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="text-center"> Name</th>

        <th class="text-center">Email</th>
        <th class="text-center">Phone</th>
        <th class="text-center">Twitter</th>
             <th class="text-center">User Id</th>
        <th class="text-center">Action</th>
   
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td class="text-center">
              <%= link_to friend.first_name + '' + friend.last_name ,friend %>
            
          </td>
         
          <td class="text-center"><%= friend.email %></td>
          <td class="text-center"><%= friend.phone %></td>
          <td class="text-center"><%= friend.twitter %></td>
          <td class="text-center"><%= friend.user_id %></td>
          <td>
            <div style='display: flex; flex-direction: column; width: 100%; gap: 5px;'>
              <%= link_to "Show this friend", friend, style: "text-decoration: none;", class: "btn btn-secondary" %>
                <% if friend.user == current_user %>
              <%= link_to "Edit this friend", edit_friend_path(friend.id), class: 'btn btn-secondary' %> 
              <%= button_to "Destroy this friend", friend, method: :delete, class: 'btn btn-secondary', style: 'width: 100%' %>
                <% end%>            
            </div>
          </td>
        </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
  <%else%>
  <p>Please Login to view the page</p>
<% end%>
<% else %>
  <p>No users available</p>
<% end %>
<% if user_signed_in? %>
<div>
  <%= link_to "New friend", new_friend_path, class: "btn btn-success" %>
</div>
<% end%>
